:root {
	font-size: 17px;
}

body {
	background-color: rgb(79, 78, 78);
}

a {
	width: max-content;
	display: block;
}

#globalContainer {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#timelineContainer {
	/* width: 2000px; // by code*/
	position: relative;
	/* IL FAUT TOUJOURS AVOIR UNE position ICI, CAR timeEvent IS ABSOLUTE IF PARENTS HAS relative/absolute*/
	height: 100%;
	/* margin: 20px; */
	padding: 0;
}

#timelineLine {
	display: block;
	position: relative;
	width: 600px;
	border: 1px solid rgb(90, 154, 69);
	border-width: 3px 0 0 0;

	/* JQUERY SETS OVERFLOW TO HIDDEN WHEN ANIMATING, WHICH MESSES UP THE DISPLAY OF THE fixedDateMarkers */
	overflow: visible !important; 
}

.timeLineFixedDate{
	border: 1px solid pink;
	border-width: 0 0 0 2px;
	height: 10px;

	position: absolute;
	bottom: 0px;

	left: 50px;
}

.fixedDateNumber{
	color: white;
	transform: translateY(-20px) translateX(-20px);
}

.timeEvent {
	position: absolute;
	display: inline;
	/* width: 100%; */
	top: 10px;
	/* border: 1px solid white;
	border-width: 1px 0 0 1px; */
}

.ev-container {
	margin-left: 5px;
}

.ev-timeIndicator {
	margin: 0;
	padding: 0;
	position: absolute;
	height: 20px;
	top: -10px;
	/* =  .timeEvent:top*/
	border: 0 solid rgb(215, 50, 50);
	border-width: 0 0 0 2px;
}

.ev-timeIndicatorStart{
}

.ev-timeIndicatorEnd{
}

.ev-timeIndicatorPin {
	width: 10px;
	height: 10px;
	background-color: darksalmon;
	border-radius: 5px;
	position: absolute;
	left: -6px;
	top: -4px;
}

.ev-rangeIndicator {
	border: 1px solid white;
	border-width: 1px 0 0 0;
}

.ev-content {}

.ev-title {
	font-size: 10px;
	line-height: 25px;
	color: coral;
}

.ev-description {
	color: coral;
}


#displayContainer {
	position: fixed;
	bottom: 0;
	left:0;
	width: 100%;
	height: 25%; /* Set the fixed height of the footer here */
	/* line-height: 60px; */

	color: white;
	background-color: #242424;
	border: 1px solid lightskyblue;
 }

 .displayRight{
	background-color: darkgoldenrod;
 }

 .displayLeft{
	background-color: lightslategrey;
 }


 