@font-face {
	font-family: "cormorant";
	src: url("/resources/Cormorant-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "cormorant-italic";
	src: url("/resources/Cormorant-MediumItalic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

:root {
	font-size: 17px;
	font-family: "cormorant";
	--colorBrownStrong: rgb(130, 79, 75);
	--colorBrownLight: rgb(175, 100, 92);
	--colorBlueStrong: rgb(51, 54, 106);
	--colorBlueLight: rgb(84, 100, 154);
	--colorGreenStrong: rgb(142, 185, 185);
	--colorGreenLight: rgb(193, 211, 209);
	--colorBlack: rgb(40, 40, 40);
	--colorGray: rgb(77, 77, 77);
	--colorLight: rgb(239, 225, 216);
	--colorLightTrans: rgb(239, 225, 216, 0.8);
}

body {
	background-color: var(--colorLight);
	font-family: "cormorant";
}

a {
	width: max-content;
	display: block;
}

#globalContainer {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 20px;
}

#timelineContainer {
	/* width: 2000px; // by code*/
	position: relative;
	/* IL FAUT TOUJOURS AVOIR UNE position ICI, CAR timeEvent IS ABSOLUTE IF PARENTS HAS relative/absolute*/
	height: 100%;
	/* margin: 20px; */
	padding: 0;
}

#timelineLine {
	display: block;
	position: relative;
	width: 600px;
	border: 1px solid var(--colorBlueStrong);
	border-width: 1px 0 0 0;
	/* JQUERY SETS OVERFLOW TO HIDDEN WHEN ANIMATING, WHICH MESSES UP THE DISPLAY OF THE fixedDateMarkers */
	overflow: visible !important;
}

.timeLineFixedDate {
	border: 1px solid var(--colorBlueStrong);
	border-width: 0 0 0 3px;
	height: 5px;
	position: absolute;
	bottom: 0px;
	/* left: 50px; */
}

.fixedDateNumber {
	font-family: "cormorant-italic";
	color: var(--colorBlueLight);
	font-size: 20px;
	transform: translateY(-25px) translateX(-15px);
}

.fixedDateSeparator {
	border: 1px dotted var(--colorBlueStrong);
	border-width: 0 0 0 1px;
	height: 300px;
	margin: 0;
	padding: 0;
	transform: translateY(-25px) translateX(-2px);
}

#selectedDateMarker {
	/* border: 1px solid var(--colorGreenStrong); */
	/* border-width: 0 0 0 3px; */
	/* height: 5px; */
	position: absolute;
	bottom: -2px;
	color: var(--colorGreenStrong);
	/* background-color: var(--colorLight); */
	font-size: 23px;
	z-index: 1;
}

.timeEvent {
	position: absolute;
	display: inline;
	/* width: 100%; */
	top: 10px;
	/* border: 1px solid white;
	border-width: 1px 0 0 1px; */
}

.ev-container {
	margin-left: 5px;
	position: relative;
	background-color: var(--colorLightTrans);
}

.ev-timeIndicator {
	margin: 0;
	padding: 0;
	position: absolute;
	height: 20px;
	top: -10px;
	/* =  .timeEvent:top*/
	border: 0 solid var(--colorGray);
	border-width: 0 0 0 1px;
}

.ev-timeIndicatorStart {
	height: 30px;
}

.ev-timeIndicatorEnd {}

.ev-timeIndicatorPin {
	width: 5px;
	height: 5px;
	background-color: var(--colorBrownLight);
	/* border-radius: 14px; */
	position: absolute;
	left: -3px;
	top: -5px;
	transform: rotate(45deg);
}

.ev-rangeIndicator {
	border: 1px solid white;
	border-width: 1px 0 0 0;
}


.ev-pinSelected {
	background-color: var(--colorGreenStrong);
	border: 1px solid var(--colorGreenStrong);
}

.ev-content {}

/* .ev-title {
	color: var(--colorGray);
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	padding: 0 3px 0 3px;
} */

.ev-description {
	color: var(--colorGray);
	width: 150px;
	white-space: nowrap;
	overflow: hidden;
	padding: 0 3px 0 3px;
}

.ev-description:hover {
	overflow: visible;
	width: fit-content;
	background-color: var(--colorGreenLight);
	cursor: pointer;
}

#displayContainer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25%;
	/* Set the fixed height of the footer here */
	/* line-height: 60px; */
	color: white;
	background-color: #242424;
	border: 1px solid lightskyblue;
}

.displayRight {
	background-color: darkgoldenrod;
}

.displayLeft {
	background-color: lightslategrey;
}